<%= form_with(model: contact, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, class: 'label_form required' %>
    <%= form.text_field :name, id: :contact_name, autofocus: true, autocomplete: "name", placeholder: t(".name") %>
  </div>

  <div class="field">
    <%= form.label :email, class: 'label_form required' %>
    <%= form.text_field :email, id: :contact_email, autocomplete: "email", placeholder: t(".email")  %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :contact_phone, autocomplete: "phone", placeholder: t(".phone")  %>
  </div>

  <div class="field">
    <%= form.label :message, class: 'label_form required' %>
    <%= form.text_area :message, id: :contact_message, autocomplete: "message", placeholder: t(".message")  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
