<header>
<div id="header-wrap">
  <h1><%= link_to "Admin Farm", root_path %></h1>
    <nav>
      <ul>
        <li class="button"><%= link_to t("menu.home"), root_path %></li>
        <li class="button"><%= link_to t("menu.signin"), new_user_session_path %></li>
        <li class="button"><%= link_to t("menu.signup"), new_user_registration_path %></li>
        <li class="button"><%= link_to t("menu.contact"), new_contact_path %></li>
      </ul>
    </nav>
</div>
</header>
