<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <title>
    <%= Rails.application.class.parent_name.titlecase %>
  </title>
  <%= render "admin/application/stylesheet" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= render "admin/application/icons" %>
  <%= render "admin/application/navbar" %>
  <div class="app-container">
    <%#= render "admin/application/navigation" -%>
    <main class="main-content" role="main">
      <%= render "admin/application/flashes" -%>
      <%= yield %>
    </main>
  </div>
  <%= render "admin/application/footer" %>
  <% #render "javascript" %>
</body>
</html>
